<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ahlam Mohammed">
    <meta name="keywords" content="Job , وظائف">
    <meta name="description" content="Your career starts here">
    
    <!-- BootStrap Css -->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <!-- BootStrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="../assets/css/style.css">

    <title>Contact Us</title>
</head>
<body class="bg-light">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg top-header">
        <div class="container">
            <div class="row w-100 align-items-center">
                <div class="col-lg-1 col-2">
                    <a class="navbar-brand text-white fw-bold" href="../index.html">Job.com</a>
                </div>
                <div class="col-lg-1 col-8">
                    <div class="dropdown w-100 d-lg-none d-inline-flex">
                        <a class="text-center text-light mt-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                            <img src="../assets/images/me2.jpg" width="15%" class="img-fluid rounded-circle border border-2 border-secondary shadow-sm" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="../templates/profile.html"><i class="bi bi-person-fill m-2"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="../templates/dashboard.html"><i class="bi bi-speedometer m-2"></i> Dashboard</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="../templates/login.html"><i class="bi bi-box-arrow-down-right m-2"></i> Sign out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-1 col-2">
                    <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="bi bi-list fs-2 text-light"></span>
                    </a>
                </div>
                <div class="col-lg-8 col-0">
                    <div class="collapse navbar-collapse" id="navbarScroll"">
                        <ul class="navbar-nav">
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light active" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light" href="../templates/job.html">Find Jobs</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light" href="../templates/companies.html">Companies</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a href="../templates/about.html" class="nav-link text-light">About Us</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light" href="../templates/services.html">Services</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light" href="../templates/contact.html">Contact Us</a>
                            </li>
                        </ul>
                        <!-- <form class="w-25 text-end px-5">
                            <div class="dropdown w-25 d-lg-inline-flex d-none justify-content-end">
                                <a class="dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img src="../assets/images/me2.jpg" width="100%" class="img-fluid rounded-circle border border-2 border-secondary shadow-sm" alt="">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="../templates/profile.html"><i class="bi bi-person-fill m-2"></i> Profile</a></li>
                                    <li><a class="dropdown-item" href="../templates/profile.html"><i class="bi bi-speedometer m-2"></i> Dashboard</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="../templates/login.html"><i class="bi bi-box-arrow-down-right m-2"></i> Sign out</a></li>
                                </ul>
                            </div>
                        </form> -->
                    </div>
                </div>
                <div class="col-lg-1 col-0">
                    <div class="dropdown d-lg-inline-flex d-none">
                        <a class="dropdown-toggle text-center text-light mt-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                            <img src="../assets/images/me2.jpg" width="50%" class="img-fluid rounded-circle border border-2 border-secondary shadow-sm" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="../templates/profile.html"><i class="bi bi-person-fill m-2"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="../templates/dashboard.html"><i class="bi bi-speedometer m-2"></i> Dashboard</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="../templates/login.html"><i class="bi bi-box-arrow-down-right m-2"></i> Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Banner Section -->
    <section class="banner" style="background-image: url(../assets/images/circle/bg.svg); background-size: cover; height: 50vh;background-position: center;">
        <div class="container-lg">
            <div class="row pt-5 pb-5">
                <div class="col-12">
                    <div class="p-lg-5 p-md-5 text-lg-start text-md-start text-sm-center text-center">
                        <h1 class="fs-1 fw-bold text-light mt-5">You can contact us at any time</h1>
                        <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolorum itaque natus numquam</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main>
        <div class="container-lg">
            <!-- Services Section -->
            <section class="row m-auto py-5 px-lg-0 px-md-0 px-sm-0 px-2">
                <div class="col-lg-1 col-0"></div>
                <div class="col-lg-5 col-md-6 col-12 m-0 p-0">
                    <article class="card bg-white p-3 pb-5 w-100 h-100">
                        <div class="card-header bg-transparent">
                            <h1 class="fs-4 text-primary">Contact Information</h1>
                        </div>
                        <div class="card-body">
                            <div class="d-flex gap-2 align-items-center my-4">
                                <i class="bi bi-envelope text-secondary"></i>
                                <span class="text-black">Email: <a href="">job.com@gmail.com</a></span>
                            </div>
                            <div class="d-flex gap-2 align-items-center mb-4">
                                <i class="bi bi-phone text-secondary"></i>
                                <span class="text-black">Tel.: <a href="">+967 773 773 773</a></span>
                            </div>
                            <div class="d-flex gap-2 align-items-center mb-4">
                                <i class="bi bi-clock text-secondary"></i>
                                <span class="text-black">Working Hours: <a href="">9 AM - 6 PM (Sun to Thu)</a></span>
                            </div>
                            <div class="d-flex gap-4 align-items-center justify-content-center mt-5">
                                <div class=" d-flex rounded-circle logo border  shadow align-items-center justify-content-center">
                                    <i class="bi bi-facebook text-primary"></i>
                                </div>
                                <div class=" d-flex rounded-circle logo border  shadow align-items-center justify-content-center">
                                    <i class="bi bi-twitter text-primary"></i>
                                </div>
                                <div class=" d-flex rounded-circle logo border  shadow align-items-center justify-content-center">
                                    <i class="bi bi-linkedin text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-5 col-md-6 col-12 m-0 p-0">
                    <article class="card p-3 pb-5 w-100 h-100 suggestion" style="background-image: url(../assets/images/circle/bg2.svg); background-position: center; background-size: cover;">
                        <div class="card-header border-bottom border-light bg-transparent">
                            <h1 class="fs-4 text-light">Send Suggestion</h1>
                        </div>
                        <div class="card-body d-flex justify-content-around align-items-center flex-column">
                            <input type="text" class="form-control bg-light rounded p-lg-3 p-md-2 w-100" placeholder="Send suggestion" aria-describedby="addon-wrapping">
                            <button class="btn btn-primary rounded px-4 w-50">Send</button>
                        </div>
                    </article>
                </div>
                <div class="col-lg-1 col-0"></div>
            </section>
        </div>
    </main>

    <!-- Footer -->
    <footer style="background-image: url(../assets/images/circle/bg.svg); background-position: center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-between align-items-center flex-lg-row flex-md-row flex-column">
                    <a class="text-white fs-3 fw-bold" href="../index.html">Job.com</a>
                    <a class="text-white fs-6" href="../templates/profile.html">© 2022 Copyright: Ahlam Mohammed</a>
                    <div class="d-flex gap-4 align-items-center justify-content-center">
                        <div class=" d-flex  align-items-center justify-content-center">
                            <i class="bi bi-facebook text-light"></i>
                        </div>
                        <div class=" d-flex align-items-center justify-content-center">
                            <i class="bi bi-twitter text-light"></i>
                        </div>
                        <div class=" d-flex align-items-center justify-content-center">
                            <i class="bi bi-linkedin text-light"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script>

        let   scrollpos     = window.scrollY;
        const header        = document.querySelector(".top-header");
        const banner        = document.querySelector(".banner");
        const header_height = banner.offsetHeight + header.offsetHeight;

        window.addEventListener('scroll', function() 
        { 
            scrollpos = window.scrollY;

            if (scrollpos >= header_height) 
            { 
                $('nav.top-header').removeClass('bg').addClass('bg--light');
                $('li.nav-item a').removeClass("text-light").addClass('text-black');
                $('.navbar-brand').removeClass('text-white').addClass('text-primary');
                $('.dropdown-toggle').removeClass('text-white').addClass('text-black');
                $('.navbar-toggler span').removeClass('text-light').addClass('text-black');
                
            }
            else 
            { 
                $('nav.top-header').removeClass('bg--light').addClass('bg');
                $('li.nav-item a').removeClass("text-black").addClass('text-light');
                $('.navbar-brand').removeClass('text-primary').addClass('text-white');
                $('.dropdown-toggle').removeClass('text-black').addClass('text-white');
                $('.navbar-toggler span').removeClass('text-black').addClass('text-light');

            }
        })
    </script>
</body>
</html>