<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ahlam Mohammed">
    <meta name="keywords" content="Job , وظائف">
    <meta name="description" content="Your career starts here">
    
    <!-- BootStrap Css -->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <!-- BootStrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="../assets/css/style.css">

    <title>Profile</title>
</head>
<body class="bg-light">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg top-header">
        <div class="container">
            <div class="row w-100 align-items-center">
                <div class="col-lg-1 col-2">
                    <a class="navbar-brand text-white fw-bold" href="../index.html">Job.com</a>
                </div>
                <div class="col-lg-1 col-8">
                    <div class="dropdown w-100 d-lg-none d-inline-flex">
                        <a class="text-center text-light mt-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                            <img src="../assets/images/me2.jpg" width="15%" class="img-fluid rounded-circle border border-2 border-secondary shadow-sm" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="../templates/profile.html"><i class="bi bi-person-fill m-2"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="../templates/dashboard.html"><i class="bi bi-speedometer m-2"></i> Dashboard</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="../templates/login.html"><i class="bi bi-box-arrow-down-right m-2"></i> Sign out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-1 col-2">
                    <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="bi bi-list fs-2 text-light"></span>
                    </a>
                </div>
                <div class="col-lg-8 col-0">
                    <div class="collapse navbar-collapse" id="navbarScroll"">
                        <ul class="navbar-nav">
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light active" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light" href="../templates/job.html">Find Jobs</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light" href="../templates/companies.html">Companies</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a href="../templates/about.html" class="nav-link text-light">About Us</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light" href="../templates/services.html">Services</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light" href="../templates/contact.html">Contact Us</a>
                            </li>
                        </ul>
                        <!-- <form class="w-25 text-end px-5">
                            <div class="dropdown w-25 d-lg-inline-flex d-none justify-content-end">
                                <a class="dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img src="../assets/images/me2.jpg" width="100%" class="img-fluid rounded-circle border border-2 border-secondary shadow-sm" alt="">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="../templates/profile.html"><i class="bi bi-person-fill m-2"></i> Profile</a></li>
                                    <li><a class="dropdown-item" href="../templates/profile.html"><i class="bi bi-speedometer m-2"></i> Dashboard</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="../templates/login.html"><i class="bi bi-box-arrow-down-right m-2"></i> Sign out</a></li>
                                </ul>
                            </div>
                        </form> -->
                    </div>
                </div>
                <div class="col-lg-1 col-0">
                    <div class="dropdown d-lg-inline-flex d-none">
                        <a class="dropdown-toggle text-center text-light mt-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                            <img src="../assets/images/me2.jpg" width="50%" class="img-fluid rounded-circle border border-2 border-secondary shadow-sm" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="../templates/profile.html"><i class="bi bi-person-fill m-2"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="../templates/dashboard.html"><i class="bi bi-speedometer m-2"></i> Dashboard</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="../templates/login.html"><i class="bi bi-box-arrow-down-right m-2"></i> Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Banner Section -->
    <section class="banner shadow" style="background-image: url(../assets/images/circle/bg.svg); background-size: cover; height: 50vh;background-position: center;">
        <div class="w-100" style="background-color: #ffffff00;; backdrop-filter: blur(6px);">
            <div class="container-lg">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-center align-items-center flex-column" style="height: 50vh;">
                            <div class="row">
                                <figure class="d-flex justify-content-center position-relative">
                                    <img src="../assets/images/me2.jpg" width="15%" class="img-fluid rounded-circle border border-2 shadow border-light profile-img" alt="">
                                </figure>
                            </div>
                            <div class="row">
                                <h1 class="text-light fs-2">Ahlam Mohammed</h1>
                            </div>
                            <div class="row">
                                <p class="text-white">- Full stack developer -</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main>
        <div class="container-lg mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-5 col-md-12 col-12 mb-4">
                            <div class="row">
                                <!-- Contact Information -->
                                <div class="col-12">
                                    <article class="card shadow bg-white position-sticky p-3">
                                        <header class="card-header">
                                            <h1 class="text-primary fs-4">Contact Information</h1>
                                        </header>
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-1">
                                                <h4 class="fs-6 fw-bold">Email address</h4>
                                                <span class="text-secondary">ahlam.m.alfashq@gmail.com</span>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-1">
                                                <h4 class="fs-6 fw-bold">Mobile number</h4>
                                                <span class="text-secondary">(+967)773773773</span>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- Personal Information -->
                                <div class="col-12 mt-4">
                                    <article class="card shadow position-sticky p-3">
                                        <header class="card-header">
                                            <h1 class="text-primary fs-4">Personal Information</h1>
                                        </header>
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-1">
                                                <h4 class="fs-6 fw-bold">Birth date</h4>
                                                <span class="text-secondary">31 May 1998</span>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-1">
                                                <h4 class="fs-6 fw-bold">Nationality</h4>
                                                <span class="text-secondary">Yemeni</span>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-1">
                                                <h4 class="fs-6 fw-bold">Residence country</h4>
                                                <span class="text-secondary">Yemen</span>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-1">
                                                <h4 class="fs-6 fw-bold">Gender</h4>
                                                <span class="text-secondary">Female</span>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- Skills -->
                                <div class="col-12 mt-4">
                                    <article class="card shadow p-3">
                                        <header class="card-header">
                                            <h1 class="text-primary fs-4">Skills</h1>
                                        </header>
                                        <div class="card-body">
                                            <div class="row">
                                                <!-- single skill -->
                                                <div class="col-12 mb-2">
                                                    <div class=" shadow-sm p-3">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <h5>Leadership Skills</h5>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single skill -->
                                                <div class="col-12 mb-2">
                                                    <div class=" shadow-sm p-3">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <h5>Problem Solving</h5>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single skill -->
                                                <div class="col-12 mb-2">
                                                    <div class=" shadow-sm p-3">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <h5>Teamwork Skills</h5>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single skill -->
                                                <div class="col-12 mb-2">
                                                    <div class=" shadow-sm p-3">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <h5>Writing Content</h5>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 col-12 mb-4">
                            <div class="row">
                                <!-- About -->
                                <div class="col-12">
                                    <article class="card shadow p-3">
                                        <header class="card-header">
                                            <h1 class="text-primary fs-4">About <span class="text-secondary">Ahlam Mohammed</span></h1>
                                        </header>
                                        <div class="card-body">
                                            <p class="text-secondary">My name is Ahlam Mohammed, I'm a Full stack developer with a great passion for programming. I am passionate about delivering solutions that add to people's lives and at the same time challenge me. Improved my skills as a Front-End and Back-End developer.</p>
                                            <p class="text-secondary">I develop websites and applications using HTML, CSS, and php. I'm always improving myself with each project I get my hands on.</p>
                                        </div>
                                    </article>
                                </div>
                                <!-- Education -->
                                <div class="col-12 mt-4">
                                    <article class="card shadow p-3">
                                        <header class="card-header">
                                            <h1 class="text-primary fs-4">Education</span></h1>
                                        </header>
                                        <div class="card-body">
                                            <!-- single experience -->
                                            <div class="col-12 mb-5">
                                                <div class=" shadow-sm p-3">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <a href="../templates/detailsExp.html"><h4><b>Information Technology</b> <span class="fs-5">, Bachelor's degree</span></h4></a>
                                                    </div>
                                                    <div class="">
                                                        <a href="../templates/detailsExp.html" class="text-black-50 fs-6 d-flex flex-column">
                                                            <h6 class="text-black">University of Science and Technology</h6>
                                                            <span>Yemen - Sanaa</span>
                                                            <span>May 2021</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- Experience -->
                                <div class="col-12 mt-4">
                                    <article class="card shadow p-3">
                                        <header class="card-header">
                                            <h1 class="text-primary fs-4">Experience</h1>
                                        </header>
                                        <div class="card-body">
                                            <div class="row">
                                                <!-- single experience -->
                                                <div class="col-12 mb-5">
                                                    <div class=" shadow-sm p-3">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <a href="../templates/detailsExp.html"><h4>Web Developer at softUpgrade Company</h4></a>
                                                        </div>
                                                        <div class="">
                                                            <a href="../templates/detailsExp.html" class="text-black-50 fs-6 d-flex flex-column">
                                                                <span>Yemen - Sanaa</span>
                                                                <span>My current job since January 2020</span>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit!</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single experience -->
                                                <div class="col-12 mb-5">
                                                    <div class=" shadow-sm p-3">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <a href="../templates/detailsExp.html"><h4>Web Developer at start Company</h4></a>
                                                        </div>
                                                        <div class="">
                                                            <a href="../templates/detailsExp.html" class="text-black-50 fs-6 d-flex flex-column">
                                                                <span>Yemen - Sanaa</span>
                                                                <span>My current job since January 2020</span>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit!</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <button class="btn btn-sm btn-primary position-fixed" style="bottom: 10px; right: 20px;">Download CV<i class="bi bi-download m-2"></i></button>
    <!-- Footer -->
    <footer style="background-image: url(../assets/images/circle/bg.svg); background-position: center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-between align-items-center flex-lg-row flex-md-row flex-column">
                    <a class="text-white fs-3 fw-bold" href="../index.html">Job.com</a>
                    <a class="text-white fs-6" href="../templates/profile.html">© 2022 Copyright: Ahlam Mohammed</a>
                    <div class="d-flex gap-4 align-items-center justify-content-center">
                        <div class=" d-flex  align-items-center justify-content-center">
                            <i class="bi bi-facebook text-light"></i>
                        </div>
                        <div class=" d-flex align-items-center justify-content-center">
                            <i class="bi bi-twitter text-light"></i>
                        </div>
                        <div class=" d-flex align-items-center justify-content-center">
                            <i class="bi bi-linkedin text-light"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script>

        let   scrollpos     = window.scrollY;
        const header        = document.querySelector(".top-header");
        const banner        = document.querySelector(".banner");
        const header_height = banner.offsetHeight + header.offsetHeight;

        window.addEventListener('scroll', function() 
        { 
            scrollpos = window.scrollY;

            if (scrollpos >= header_height) 
            { 
                $('nav.top-header').removeClass('bg').addClass('bg--light');
                $('li.nav-item a').removeClass("text-light").addClass('text-black');
                $('.navbar-brand').removeClass('text-white').addClass('text-primary');
                $('.dropdown-toggle').removeClass('text-white').addClass('text-black');
                $('.navbar-toggler span').removeClass('text-light').addClass('text-black');
                
            }
            else 
            { 
                $('nav.top-header').removeClass('bg--light').addClass('bg');
                $('li.nav-item a').removeClass("text-black").addClass('text-light');
                $('.navbar-brand').removeClass('text-primary').addClass('text-white');
                $('.dropdown-toggle').removeClass('text-black').addClass('text-white');
                $('.navbar-toggler span').removeClass('text-black').addClass('text-light');

            }
        })
    </script>
</body>
</html>